.browser-navigation {
  border-bottom: .05em solid #F3F3F3;
  padding: 16px 20px;
  height: 70px;

  .form {
    background-color: #F2F2F2;
    height: 36px;
    padding: 0 10px;
    width: 480px;

    .url-wrapper {
      & > div {
        &:not(:first-child) {
          margin-left: 10px;
        }
      }

      .icon {
        $size: 20px;

        height: $size;
        width: $size;
      }

      .text-indicator {
        background-color: #C4C4C4;
        height: 14px;
        width: 160px;

        @media (max-width: 380px) {
          width: 100px;
        }
      }
    }

    .reload {
      $size: 20px;

      height: $size;
      width: $size;
    }

    @media (max-width: 768px) {
      width: 350px;
    }

    @media (max-width: 480px) {
      width: 100%;
    }
  }

  .menu-dots {
    flex-shrink: 0;
    padding: 2px 0;
    width: 30px;

    span {
      $size: 6px;

      background-color: #C4C4C4;
      border-radius: 50%;
      display: block;
      height: $size;
      margin-left: auto;
      margin-right: auto;
      width: $size;

      &:not(:first-child):not(:last-child) {
        margin-bottom: 3px;
        margin-top: 3px;
      }
    }

    @media (max-width: 480px) {
      margin-left: 10px;
    }
  }

  @media (max-width: 480px) {
    padding-right: 10px;
  }
}