@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #343352;
  font-family: 'Fira Code', monospace;
  font-size: 16px;
}

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}

html, body, #app-root, .page-extend {
  height: 100%;
}
